
/*Start Fonts*/

/*Importing normal body font*/
@font-face {
    font-family: 'Garamond';
    src: url('./fonts/EBGaramond-VariableFont_wght.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/EBGaramond-VariableFont_wght.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/EBGaramond-VariableFont_wght.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/EBGaramond-VariableFont_wght.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/EBGaramond-VariableFont_wght.ttf') format('svg');               /* Legacy iOS */
         font-style: normal;
         font-weight: 300 800;
        }

/*Importing italic body font*/

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('svg');               /* Legacy iOS */
         font-style: italic;
         font-weight: 300 800;
        }

/*Importing normal title font*/

@font-face {
    font-family: 'Josefin';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/JosefinSans-VariableFont_wght.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/JosefinSans-VariableFont_wght.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/JosefinSans-VariableFont_wght.ttf') format('svg');               /* Legacy iOS */
         font-style: normal;
         font-weight: 300 800;
        }

/*Importing italic body font*/

@font-face {
    font-family: 'Josefin';
    src: url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('svg');               /* Legacy iOS */
         font-style: italic;
         font-weight: 300 800;
        }
/*End Fonts*/

/*Begin main css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

  body {
    margin: 0;
    height: 100%;
    font-size:20px;
    font-family: 'Garamond',serif;
    color: #3b2409;
  }

/*Setting flexbox, setting up header, footer*/

  #main {
    display: -webkit-box;  /* Legacy Chrome, Safari, Android, iOS */
    display: -webkit-flex; /* Chrome, Safari, Android, iOS */
    display: -ms-flexbox; /* Internet Explorer */
    display: flexbox; /* Internet Explorer (again) */
    display: flex; /* Super and Most Modern Browsers */
    min-height: calc(100vh - 40vh);
  }

  #main > article {
    flex: 1;
  }
  header, footer, article {
    padding: 10px;
  }

  footer {
    background: #ee903b;
    height: 10vh;
  }

  /*Making flexible nav bar*/
  header{
    height:25vh;
    background: #ee903b;
    }

  header img{
    max-width:50%;
    min-width:10%;
    max-height:20vh;
    min-height:10%;
  }
  
  header ul{
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
  }

  header ul li{
    cursor:pointer;
    padding:5px;
    flex:auto;
    text-align:center;
  }

  header a{
    text-decoration:none;
    color: #3b2409;
  }

  header a:hover{
    color: #f0bbbb;
  }


  /*Setting header fonts/weights */
  h1,h2,h3,h4,.button{
    font-family: 'Josefin', sans-serif;
  }
  h1{
    font-size: 42px;
    font-weight: 800;
    margin-top:10vh;
  }
  h2{
    font-size: 36px;
    font-weight: 600;
  }
  h3{
    font-size: 28px;
    font-weight: 400;
  }

  h4{
    font-size: 22px;
    font-weight: 400;
    display: inline;
  }

  /*Making flexible display for most of every page's content*/
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:10px 0px 10px 5%;
    height:80%;
}
  /*Making every div flexible*/
  .wrapper > div {
    padding:10px;
    width:auto;
    height:auto;
  }
  
  /*Text div on product pages will not move or change much*/
  .wrapper > .text {
    flex: 5 5 50%;
}

   .text p{
    padding-bottom: 3%;
    font-size:22px;
   }
  /*Image div on product pages doesn't need to be that large*/
  .wrapper > .image {
    flex: 5 5 25%;
}

  /*Menu on main page and its hover animation*/
  .wrapper > .menu {
    opacity: 0.8;
    transition: 0.3s;
    flex: 5 5 33%;
}
  .wrapper > .menu:hover {
    transform: scale(1.05);
    opacity: 1;
}
  
  .wrapper a{
    text-decoration: none;
    color:#3b2409;
}

   /*Makes sure images don't overflow their div*/
  .wrapper img {
    max-width:80%;
    max-height:80vh;
  }

/*Maybe using tables*/
table, table th, table td {
  padding:2px;
}

/*button for add to cart / log in */
.button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color: #ee903b;
	border-radius:6px;
	border:1px solid #eeb44f;
	cursor:pointer;
	color:white;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.button:hover {
	background-color:#f0bbbb;
}
.button:active {
	position:relative;
	top:1px;
}


/* Making everything scrunch together for mobile / small screens */
@media all and (max-width: 600px) {
  /*Header*/
  h1{
    margin-top:0;
  }
  header {
    height:65vh;
  }

  header ul {
    flex-direction: column;
  }

  header ul li {
    text-align: center;
  }
  /*Content*/
  
  .wrapper {
    flex-direction: column;
  }

  .menu,.text,.image{
    flex-basis:100%;
    min-width:100%;
  }
}