{% extends 'base.html' %}
{% block title %}Creamery - {{ category.name }}{% endblock %}

{% block content %}
<div class="text"><h3>{{ category.name }}</h3>
    {{ category.desc }}
    </div>
        {% for product in products %}
        <div class="image"><h3>{{ product.name }}</h3>
            <img src="{{ url_for('static', filename='images/' + product.img) }}">

                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
        {% endfor %}
{% endblock %}